@font-face {
    font-family: 'Semplicita Pro';
    src: local('Semplicita Pro Light'), local('Semplicita-Pro-Light'),
        url('SemplicitaPro-Light.woff2') format('woff2'),
        url('SemplicitaPro-Light.woff') format('woff'),
        url('SemplicitaPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

* {   
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none; }

body {
    background-image: url(../content/Horde.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: repeat-y;    
    font-family: "Semplicita Pro";
    color: #f7b10a;
}

h1 {
    text-align: center;
    font-size: 4.5em;
}
h2{
    text-align: center;
    padding-top : .3125rem;
    padding-bottom: .3125rem;
    font-size: 2.5em;
}
h3 {
    text-align: center;
    color: #ebdec2;
    font-size: 2em;
    margin-bottom: 15px;
    
}

ul {
    list-style-type: none;
    text-align: center;
}

ul li {
    display: inline;
    padding: .4375rem
}

a {
    color: #f7b10a;
    &:visited {
        color :#f7b10a ;
    }
    &:hover {
        cursor: hand;
    }
}

button:hover {

    cursor: pointer;
}
input, select{
    font-family: "Semplicita Pro";
    font-weight: 600;
    width: 10.9375rem;
    height: 1.5625rem;
    text-align: center;
    background-color: #ca9415;
    border: solid .0625rem #170e09da;
    border-radius: .5rem;
        &:focus {
            background-color: #ebdec2 ;
        }
}
option{
    font-family: "Semplicita Pro";
    font-weight: 600;
    width: 10.9375rem;
    height: 1.5625rem;
}
article {
    font-size: 2em;
    
}

//Classes

.space {
    &_xshort{
        height: .8125rem;
    }
    &_short {
        height: 1.5625rem;
    }
    &_medium {
        height: 3.125rem;
    }
    &_big  {
        height: 6.25rem;            
    }
    &_box { 

        height: 67.5rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
            &_1 {
                background-image: url(../content/Horde.jpg);                 
            }
            &_2{
                background-image: url(../content/Alliance.jpg);  
            }
           
    }
}

.color {
    &_beige {
        color:#ebdec2;
        }
}
.centered {
    margin-left: 3em;
    margin-right: 3em;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 2em;
}
.nav {
    text-align: center;
    font-size: 2em;
    display: flex;
    margin: auto;
    &nav_2 {
        justify-content: end;
    }
}
.go {
    text-align: center;
    background-color: #ca9415;
    color: #170e09;
    padding: .9375rem 2rem;
    border: none;
    border-radius: .75rem;
    font-size: 2em;
    &_2{
        background-color: #0074e0;
        color : #ebdec2;
        font-size: 1.1em; 
        margin-top: .9375rem;
        &:hover {
            background-color: #ca9415;
            color: #170e09;
        }
    }
    &_3{
        background-color: #0074e0;
        color : #ebdec2;
        font-size: 1.1em; 
        margin-top: .9375rem;
        padding: .9375rem 3.6875rem;
        &:hover {
            background-color: #ca9415;
            color: #170e09;
        }
    }
      
}
.calendar {
    border: solid black 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    height: 15.625rem;
    background-color: #170e09da;
    margin-left : 10%;
    margin-right: 10%;
    font-size: 1.2em;
}

.titreCal {
    display: flex;
    margin: auto;
    justify-content: center;
}
.precedent {
    rotate: 180deg;
    &:hover {
        cursor: pointer;
    }
}

.suivant {
    &:hover {
        cursor: pointer;
    }
}

.fleche {
    display: flex;
    justify-content: end;
    margin-right: 150px;
}
.homefleche {
    rotate : 90deg;
    max-width : 175px;
    max-height : 275px;
}
.inscription {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}
.textInscr {
    grid-column: 1;
    margin: auto 10px auto;
}
.label {
    grid-column: 2;
    border: solid black 5px;
    border-radius: 10px;
    text-align: center;
    background-color: #170e09da;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1.5em;

}
.labelPersonnage {
    border: solid black 5px;
    border-radius: 10px;
    text-align: center;
    background-color: #170e09da;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1.5em;

}
.txt3 {
    grid-column: 3;
    margin : auto 10px auto;

}

.afficherPerso {
    margin: auto;
    text-align: center;
    max-width: 43.75rem;
    > li {
        display : grid;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: 1fr;
        >ul:nth-child(1){
                grid-column: 1;
                color : green;
            }
            :nth-child(2){
                grid-column: 2;
                color: red;
            }
            :nth-child(3){
                grid-column: 3;
                color: violet;
            }
            :nth-child(4){
                grid-column: 4;
                color: violet;
            }
            :nth-child(5){
                grid-column: 5;
                color: violet;
            }
            :nth-child(6){
                grid-column: 7;
                color: violet;
            }
        
    }
.deletePerso{
        background-color: #0074e0;
        border-radius: .625rem;
        border: #170e09 2px solid;
        padding: .4375rem;
        opacity: 0.8;
        box-shadow: none;
        > a {
            color:#ebdec2;
        }
       &:hover {
        opacity: 1;
        background-color: #0074e0;
        color: #170e09;
       } 
    } 
 
}
