@font-face {
    font-family: 'Semplicita Pro';
    src: local('Semplicita Pro Light'), local('Semplicita-Pro-Light'),
        url('SemplicitaPro-Light.woff2') format('woff2'),
        url('SemplicitaPro-Light.woff') format('woff'),
        url('SemplicitaPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

* {   
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none; }

body {
    background-color: #170e09;
    font-family: "Semplicita Pro";
    color: #f7b10a;
}

h1 {
    text-align: center;
    font-size: 4.5em;
}

ul {
    list-style-type: none;
    text-align: center;
    color: #0074e0;
    // position: fixed; ?????
    padding: none;
}

ul li {
    display: inline;
    padding: 7px;
}
tr {
    
}
td{

}
a {
    color: #f7b10a;
    &:visited {
        color :#f7b10a ;
    }
    &:hover {
        cursor: hand;
    }
}

button:hover {

    cursor: pointer;
}

article {
    font-size: 2em;
}
//Classes

.space {
    &_short {
        height: 25px;
    }
    &_medium {
        height: 50px;
    }
    &_big  {
        height: 100px;            
    }
    &_box { 

        height: 1080px;
        background-repeat: no-repeat;
        background-position: center;
            &_1 {
                background-image: url(../content/Horde.jpg);            
            }
            &_2 {
                background-image: url(../content/Alliance.jpg);
            }
           
    }
}

.color {
    &_beige {
        color:#ebdec2;
        }
}
.centered {

    margin-left: 3em;
    margin-right: 3em;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 2em;
}
.nav {
    text-align: center;
    font-size: 2em;
    display: flex;
    margin: auto;
    &nav_2 {
        justify-content: end;
    }
}
.go {
    text-align: center;
    background-color: #ca9415;
    color: #170e09;
    padding: 15px 32px;
    border: none;
    border-radius: 12px;
    font-size: 2em; 
    &_2{
        background-color: #0074e0;
        color : white;
    }  
}
.calendar {
    border: solid black 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width:100%;
}

